<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<th:block th:fragment="headerFragment">
<header id="header" class="header">
    <div class="top-left">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/common/img/logo.png" alt="Logo"></a>
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right">
        <div class="header-menu">
            <div class="header-left">
                <!--<button class="search-trigger"><i class="fa fa-search"></i></button>
                <div class="form-inline">
                    <form class="search-form">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                        <button class="search-close"><i class="fa fa-close"></i></button>
                    </form>
                </div>-->

                <div class="dropdown for-notification" id="notification-dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="bg-danger" style="border-radius: 50%; color: #fff; font-size: 11px; height: 15px; width: 15px; line-height: 15px; right: 0; top: 12px; position: absolute;" id="notification-count"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="notification">

                    </div>
                </div>

                <!--<div class="dropdown for-message">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="count bg-primary">4</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="message">
                        <p class="red">You have 4 Mails</p>
                        <a class="dropdown-item media" href="#">
                            <span class="photo media-left"><img alt="avatar" src="/common/img/avatar/1.jpg"></span>
                            <div class="message media-body">
                                <span class="name float-left">Jonathan Smith</span>
                                <span class="time float-right">Just now</span>
                                <p>Hello, this is an example msg</p>
                            </div>
                        </a>
                        <a class="dropdown-item media" href="#">
                            <span class="photo media-left"><img alt="avatar" src="/common/img/avatar/2.jpg"></span>
                            <div class="message media-body">
                                <span class="name float-left">Jack Sanders</span>
                                <span class="time float-right">5 minutes ago</span>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </a>
                        <a class="dropdown-item media" href="#">
                            <span class="photo media-left"><img alt="avatar" src="/common/img/avatar/3.jpg"></span>
                            <div class="message media-body">
                                <span class="name float-left">Cheryl Wheeler</span>
                                <span class="time float-right">10 minutes ago</span>
                                <p>Hello, this is an example msg</p>
                            </div>
                        </a>
                        <a class="dropdown-item media" href="#">
                            <span class="photo media-left"><img alt="avatar" src="/common/img/avatar/4.jpg"></span>
                            <div class="message media-body">
                                <span class="name float-left">Rachel Santos</span>
                                <span class="time float-right">15 minutes ago</span>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </a>
                    </div>
                </div>-->
            </div>

            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle" src="/common/img/profile.jpg" alt="User Avatar">
                </a>

                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="/manager/admin_manager"><i class="fa fa- user"></i>My Profile</a>

                    <!--<a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>-->

                    <a class="nav-link" href="/setting/system_setting"><i class="fa fa -cog"></i>Settings</a>

                    <a id="logoutClick" class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                </div>
            </div>

        </div>
    </div>
    <script>
        jQuery(document).ready(function() {
            jQuery("#notification-dropdown").click(function() {
                if(notificationCount === "0" || notificationCount === "") {
                    e.preventDefault();
                    alert("알림이 없습니다.");
                    return;
                }
                jQuery("#notification-count").hide();
            });

            // AJAX 요청 보내기
            jQuery.ajax({
                url: '/manager/orderCount',
                type: 'GET',
                async: true,
                dataType: 'json',
                success: function(data) {
                    // 데이터를 성공적으로 받아왔을 때 실행할 함수
                    // 받아온 데이터를 이용하여 dropdown 내용 업데이트
                    let count = data.length;
                    let content = '';

                    for (let i = 0; i < count; i++) {
                        content += '<a class="dropdown-item media" href="/manager/product_order">';
                        content += '<i class="fa fa-check"></i>';
                        content += '<p>' + data[i].productTitle + '</p>';
                        content += '</a>';
                    }

                    // dropdown 내용 업데이트
                    jQuery('#notification-dropdown .dropdown-menu').html('<p class="red">Notification</p>' + content);
                    jQuery('#notification-count').text(count);

                    if (count == 0) {
                        jQuery('#notification-dropdown .dropdown-menu').html("<p>주문내역 없음</p>");
                    }
                },
                error: function(xhr, status, error) {
                    // 요청이 실패했을 때 실행할 함수
                    console.error('AJAX 요청 실패:', status, error);
                }
            });
        });
    </script>
</header>
</th:block>
<!-- /#header -->
</html>