<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Left Panel -->
<th:block th:fragment="navFragment">
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="menu-title">메인</li>-->
                <li id="main">
                    <a href="/"><i class="menu-icon fa fa-laptop"></i>대시보드 </a>
                </li>

                <!--<li class="menu-title">관리</li>-->
                <li id="manager" class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>상세 관리</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-street-view"></i><a href="/manager/product_manager">상품 관리</a></li>
                        <li><i class="menu-icon fa fa-street-view"></i><a href="/manager/product_order">주문 내역</a></li>
                        <li><i class="menu-icon fa fa-street-view"></i><a href="/manager/user_manager">사용자 관리</a></li>
                        <li><i class="menu-icon fa fa-street-view"></i><a href="/manager/admin_manager">관리자 관리</a></li>
                    </ul>
                </li>

                <!--<li class="menu-title">모니터링</li>-->
                <li id="monitoring" class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>모니터링</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-spinner"></i><a href="/monitoring/serverMonitor">서버 모니터링</a></li>
                        <li><i class="fa fa-fire"></i><a href="/monitoring/serviceMonitor">서비스 모니터링</a></li>
                        <!--<li><i class="fa fa-exclamation-triangle"></i><a href="/monitoring/detection">해킹 탐지 내역</a></li>-->
                    </ul>
                </li>

                <li id="setting" class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>시스템 관리</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-street-view"></i><a href="/setting/system_setting">시스템 관리</a></li>
                        <!--<li><i class="menu-icon fa fa-street-view"></i><a href="/setting/user_setting">사용자 관리</a></li>
                        <li><i class="menu-icon fa fa-street-view"></i><a href="/setting/user_audit">사용자 감사 로그</a></li>
                        <li><i class="menu-icon fa fa-street-view"></i><a href="/setting/user_access">사용자 접속 로그</a></li>-->
                    </ul>
                </li>
                <!--<li class="menu-title">서브 메뉴</li>
                <li id="monitoring" class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>모니터링</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-spinner"></i><a href="/monitoring/serverMonitor">서버 모니터링</a></li>
                        <li><i class="fa fa-fire"></i><a href="/monitoring/serviceMonitor">서비스 모니터링</a></li>
                        <li><i class="fa fa-exclamation-triangle"></i><a href="/monitoring/detection">해킹 탐지 내역</a></li>
                    </ul>
                </li>-->

                <!--<li id="solution_manager" class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>솔루션 관리</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-file-word-o"></i><a href="/manager/solution_manager">솔루션 관리</a></li>
                        <li><i class="fa fa-bars"></i><a href="/manager/license_manager">License 관리</a></li>
                    </ul>
                </li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
</th:block>
<!-- /#left-panel -->
</html>