<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head :: headFragment"></th:block>
</head>
<body>
<!-- Left Panel -->
<th:block th:replace="common/nav :: navFragment"></th:block>
<!-- /#left-panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <!-- /#header -->

    <!-- Breadcrumbs-->
    <th:block th:replace="common/breadcrubs :: breadFragment"></th:block>
    <!-- /.breadcrumbs-->

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">

                        </div>
                        <div class="card-body" style="text-align: center;">
                            <img src="/common/img/logo.png"><br><br><br>
                            <h2>안전하게 동작하고 있습니다.</h2>
                            <p>정상적으로 동작하고 있습니다. <br> 안심하고 사용하세요.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">관리자 관리</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label class="form-control-label">관리자 ID</label>
                                <input name="systemHost" type="text" class="form-control" th:value="${mainVo.adminId}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">로그인 시간</label>
                                <input name="systemUser" type="text" class="form-control" th:value="${mainVo.loginDate}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">휴대폰 번호</label>
                                <input name="systemPort" type="text" class="form-control" th:value="${mainVo.adminPhone}" readonly>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div style="float: right;" class="btn btn-success btn-sm btn-update" data-toggle="modal" data-target="#updatemodal">
                                <i class="fa fa-ban"></i> 수정
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    <!-- Modal -->
    <div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="update-admin-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- 모달 헤더 -->
                <div class="modal-header">
                    <h5 class="modal-title" id="update-admin-modal-label">관리자 정보 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- 모달 바디 -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="adminPhone">관리자 휴대폰 번호</label>
                        <input type="text" id="adminPhone" class="form-control" name="adminPhone" onkeydown="handleKeyPress(event)" maxlength="11">
                    </div>
                </div>
                <!-- 모달 푸터 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="update-admin-submit">저장</button>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:replace="common/footer :: footerFragment"></th:block>
    <!--/.site-footer -->

</div><!-- /#right-panel -->
<script>
    jQuery(document).ready(function() {
        jQuery('#update-admin-submit').on('click', function() {
            var adminPhone = jQuery('#adminPhone').val();

            jQuery.ajax({
                url: '/manager/updateAdminPhone',
                type: 'POST',
                data: JSON.stringify({ adminPhone: adminPhone }),
                contentType: 'application/json',
                success: function(response) {
                    alert(response);
                    location.reload();
                },
                error: function(error) {
                    console.error('호출 중 오류가 발생했습니다.');
                    location.reload();
                }
            });
        });

    });

    // 엔터키 감지
    function handleKeyPress(event) {
        if (event.keyCode === 13 && !event.shiftKey) { // Enter 키를 눌렀을 때 전송, Shift 키와 함께 누를 경우 줄바꿈
            event.preventDefault(); // Enter 키의 기본 동작 방지
            jQuery('#update-admin-submit').click();
        }
    }
</script>

<!-- Right Panel -->
</body>
</html>
