<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head :: headFragment"></th:block>
</head>
<body>
<!-- Left Panel -->
<th:block th:replace="common/nav :: navFragment"></th:block>
<!-- /#left-panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <!-- /#header -->

    <!-- Breadcrumbs-->
    <th:block th:replace="common/breadcrubs :: breadFragment"></th:block>
    <!-- /.breadcrumbs-->

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 관리</strong>
                            <a href="#" style="float: right;" class="btn btn-secondary btn-sm change-image-button">이미지 변경</a>
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <div class="row tm-mb-90 tm-gallery">
                                <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                                    <figure class="effect-ming tm-video-item">
                                        <div th:if="${managerVo.thumbContents}">
                                            <img th:src="@{${managerVo.thumbContents}}" alt="Image" class="img-fluid">
                                        </div>
                                        <div th:unless="${managerVo.thumbContents}">
                                            <span>등록된 이미지가 없습니다.</span>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 관리</strong>
                            <a href="#" style="float: right;" class="btn btn-secondary btn-sm change-product-button">저장</a>
                        </div>
                        <div class="card-body">
                            <div class="row tm-mb-90 tm-gallery">
                                <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="productTitle">상품명</label>
                                        <input type="text" id="productTitle" class="form-control" name="productTitle" th:value="${managerVo.productTitle}">
                                    </div>
                                    <div class="form-group">
                                        <label for="categoryId">카테고리</label>
                                        <select id="categoryId" class="form-control" name="categoryId">
                                            <option value="">선택하세요</option>
                                            <th:block th:each="category : ${categoryList}">
                                                <option th:value="${category.categorySeq}" th:text="${category.categoryName}" th:selected="${managerVo.categorySeq == category.categorySeq}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="productViews">조회수</label>
                                        <p id="productViews" class="form-control-static" th:text="${managerVo.productViews}"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="productRegDate">생성일</label>
                                        <p id="productRegDate" class="form-control-static" th:text="${managerVo.productRegDate}"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="statusId">상태</label>
                                        <select id="statusId" class="form-control" name="statusId">
                                            <option value="0" th:text="선택하세요" th:attr="selected=${managerVo.productStatus == 0}"></option>
                                            <option value="1" th:text="사용" th:attr="selected=${managerVo.productStatus == 1}"></option>
                                            <option value="2" th:text="중지" th:attr="selected=${managerVo.productStatus == 2}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 상세 관리</strong>
                        </div>
                        <div class="card-body">
                            <div class="row tm-mb-90">
                                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                                    <a href="#" style="width:100%;" class="btn btn-secondary btn-sm change-image-button">이미지 변경</a>
                                    <div th:if="${managerVo.productContents}">
                                        <img th:src="@{${managerVo.productContents}}" alt="Image" class="img-fluid" style="width: 1920px; height: 650px;">
                                    </div>
                                    <div th:unless="${managerVo.productContents}">
                                        <span>등록된 이미지가 없습니다.</span>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                                    <div class="tm-bg-gray tm-video-details">
                                        <p class="mb-4">
                                            Please support us by making <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a PayPal donation</a>. Nam ex nibh, efficitur eget libero ut, placerat aliquet justo. Cras nec varius leo.
                                        </p>
                                        <div class="text-center mb-5">
                                            <a href="#" style="padding: 12px 90px 14px;" class="btn btn-primary">Download</a>
                                        </div>
                                        <div class="mb-4 d-flex flex-wrap">
                                            <div class="mr-4 mb-2">
                                                <span class="tm-text-gray-dark">Dimension: </span><span class="tm-text-primary">1920x1080</span>
                                            </div>
                                            <div class="mr-4 mb-2">
                                                <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">JPG</span>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <h3 class="tm-text-gray-dark mb-3">License</h3>
                                            <p>Free for both personal and commercial use. No need to pay anything. No need to make any attribution.</p>
                                        </div>
                                        <div>
                                            <h3 class="tm-text-gray-dark mb-3">Category</h3>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block" th:each="category : ${categoryList}" th:text="${category.categoryName}" th:if="${managerVo.categorySeq == category.categorySeq}"></a>
                                        </div>
                                    </div>
                                    <br><br>
                                    <button style="position: absolute; bottom: 0; right: 128px;" class="btn btn-danger" th:onclick="deleteProduct([[${managerVo.productSeq}]]);">상품 삭제</button>
                                    <button style="position: absolute; bottom: 0; right: 0;" onclick="location.href='/manager/product_manager'" class="btn btn-primary">목록으로 가기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:replace="common/footer :: footerFragment"></th:block>
    <!--/.site-footer -->

</div><!-- /#right-panel -->
<script>

    /*상품 삭제*/
    function deleteProduct(productSeq) {
        jQuery.ajax({
            url: "/manager/product",
            type: "DELETE",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({productSeq: parseInt(productSeq)}),
            success: function(result) {
                // 삭제 성공 시 처리할 코드 작성
                if (result > 0) {
                    alert("삭제 성공");
                    location.href='/manager/product_manager';
                }else {
                    alert("삭제 실패");
                    location.reload();
                }
            },
            error: function(xhr, status, error) {
                // 삭제 실패 시 처리할 코드 작성
                alert('카테고리 삭제에 실패하였습니다.');
            }
        });
    }

    /*카테고리 수정*/
    jQuery(document).on("click", ".change-product-button", function() {
        var categoryId = jQuery("select[name='categoryId']").val();
        var statusId = jQuery("select[name='statusId']").val();
        var productTitle = jQuery("input[name='productTitle']").val();
        const params = new URLSearchParams(window.location.search);
        const productSeq = params.get('productSeq');

        jQuery.ajax({
            url: "/manager/category",
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                productSeq: productSeq,
                categorySeq: categoryId,
                productTitle: productTitle,
                productStatus: statusId
            }),
            success: function(result) {
                // 변경 성공 시 처리할 코드 작성
                if (result > 0) {
                    alert("수정 성공");
                    location.reload();
                }else {
                    alert("수정 실패");
                    location.reload();
                }
            },
            error: function(xhr, status, error) {
                // 변경 실패 시 처리할 코드 작성
            }
        });
    });
</script>

<!-- Right Panel -->
</body>
</html>
