<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head :: headFragment"></th:block>
</head>
<body>
<!-- Left Panel -->
<th:block th:replace="common/nav :: navFragment"></th:block>
<!-- /#left-panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <!-- /#header -->

    <!-- Breadcrumbs-->
    <th:block th:replace="common/breadcrubs :: breadFragment"></th:block>
    <!-- /.breadcrumbs-->

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 썸네일 관리</strong>
                            <!--<a href="#" style="float: right;" class="btn btn-secondary btn-sm change-image-button">이미지 변경</a>-->
                            <form id="thumbUpload" method="post" action="/manager/thumbUploadImg" enctype="multipart/form-data" class="mt-3">
                                <input type="file" name="file"><br/><br/>
                                <button type="submit" style="width:100%" class="btn btn-secondary btn-sm change-image-button">이미지 변경</button>
                            </form>
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <div class="row tm-mb-90 tm-gallery">
                                <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                                    <figure class="effect-ming tm-video-item">
                                        <div th:if="${managerVo.thumbContents}">
                                            <img th:src="@{${managerVo.thumbContents}}" alt="Image" class="img-fluid">
                                        </div>
                                        <div th:unless="${managerVo.thumbContents}">
                                            <span>등록된 이미지가 없습니다.</span>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 관리</strong>
                            <a href="#" style="float: right;" class="btn btn-secondary btn-sm change-product-button">저장</a>
                        </div>
                        <div class="card-body">
                            <div class="row tm-mb-90 tm-gallery">
                                <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="productTitle">상품명</label>
                                        <input type="text" id="productTitle" class="form-control" name="productTitle" th:value="${managerVo.productTitle}">
                                    </div>
                                    <div class="form-group">
                                        <label for="productPrice">가격</label>
                                        <input type="number" id="productPrice" class="form-control" name="productPrice" th:value="${managerVo.productPrice}">
                                    </div>
                                    <div class="form-group">
                                        <label for="productTitle">상품설명</label>
                                        <input type="text" id="productExplain" class="form-control" name="productExplain" th:value="${managerVo.productExplain}">
                                    </div>
                                    <div class="form-group">
                                        <label for="categoryId">카테고리</label>
                                        <select id="categoryId" class="form-control" name="categoryId">
                                            <option value="">선택하세요</option>
                                            <th:block th:each="category : ${categoryList}">
                                                <option th:value="${category.categorySeq}" th:text="${category.categoryName}" th:selected="${managerVo.categorySeq == category.categorySeq}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="productViews">조회수</label>
                                        <p id="productViews" class="form-control-static" th:text="${managerVo.productViews}"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="productRegDate">생성일</label>
                                        <p id="productRegDate" class="form-control-static" th:text="${managerVo.productRegDate}"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="statusId">상태</label>
                                        <select id="statusId" class="form-control" name="statusId">
                                            <option value="0" th:text="선택하세요" th:attr="selected=${managerVo.productStatus == 0}"></option>
                                            <option value="1" th:text="사용" th:attr="selected=${managerVo.productStatus == 1}"></option>
                                            <option value="2" th:text="중지" th:attr="selected=${managerVo.productStatus == 2}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 상세 관리</strong>
                            <form id="productUpload" method="post" action="/manager/productUploadImg" enctype="multipart/form-data" class="mt-3">
                                <input type="file" name="file"><br/><br/>
                                <button type="submit" style="width:100%" class="btn btn-secondary btn-sm change-image-button">이미지 변경</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="row tm-mb-90">
                                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                                    <div th:if="${managerVo.productContents}">
                                        <img th:src="@{${managerVo.productContents}}" alt="Image" class="img-fluid" style="width: 1920px; height: 650px;">
                                    </div>
                                    <div th:unless="${managerVo.productContents}">
                                        <span>등록된 이미지가 없습니다.</span>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                                    <div class="tm-bg-gray">
                                        <p class="mb-4 font-3xl" th:text="${managerVo.productTitle}"></p>
                                        <div class="mb-4" th:if="${managerVo.productExplain}">
                                            <h3 class="tm-text-gray-dark mb-3">상품설명</h3>
                                            <p th:text="${managerVo.productExplain}"></p>
                                        </div>
                                        <div>
                                            <h3 class="tm-text-gray-dark mb-3">카테고리</h3>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block" th:each="category : ${categoryList}" th:text="${category.categoryName}" th:if="${managerVo.categorySeq == category.categorySeq}"></a>
                                        </div>
                                        <div class="mb-4 d-flex flex-wrap">
                                            <h3 class="tm-text-gray-dark mb-3" th:text="${managerVo.productPrice}"></h3>
                                        </div>
                                        <div class="mb-4 d-flex" style="position: absolute; bottom: 0px;">
                                            <button class="btn btn-danger" style="padding: 12px 75px 14px; margin-right: 10px;" th:onclick="deleteProduct([[${managerVo.productSeq}]]);">상품 삭제</button>
                                            <button style="padding: 12px 75px 14px;" onclick="window.location.href = document.referrer;" class="btn btn-primary">목록으로 가기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:replace="common/footer :: footerFragment"></th:block>
    <!--/.site-footer -->

</div><!-- /#right-panel -->
<script>

    /*상품 삭제*/
    function deleteProduct(productSeq) {
        jQuery.ajax({
            url: "/manager/product",
            type: "DELETE",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({productSeq: parseInt(productSeq)}),
            success: function(result) {
                // 삭제 성공 시 처리할 코드 작성
                if (result > 0) {
                    alert("삭제 성공");
                    location.href='/manager/product_manager';
                }else {
                    alert("삭제 실패");
                    location.reload();
                }
            },
            error: function(xhr, status, error) {
                // 삭제 실패 시 처리할 코드 작성
                alert('카테고리 삭제에 실패하였습니다.');
            }
        });
    }

    /*카테고리 수정*/
    jQuery(document).on("click", ".change-product-button", function() {
        var categoryId = jQuery("select[name='categoryId']").val();
        var statusId = jQuery("select[name='statusId']").val();
        var productTitle = jQuery("input[name='productTitle']").val();
        var productExplain = jQuery("input[name='productExplain']").val();
        var productPrice = jQuery("input[name='productPrice']").val();
        const params = new URLSearchParams(window.location.search);
        const productSeq = params.get('productSeq');

        var categoryId = jQuery("select[name='categoryId']").val();
        var statusId = jQuery("select[name='statusId']").val();
        var productTitle = jQuery("input[name='productTitle']").val();
        var productExplain = jQuery("input[name='productExplain']").val();
        var productPrice = jQuery("input[name='productPrice']").val();

        // 카테고리 ID가 선택되지 않은 경우
        if (!categoryId) {
            alert('카테고리를 선택해주세요.');
            return;
        }

        // 상태 ID가 선택되지 않은 경우
        if (!statusId) {
            alert('상태를 선택해주세요.');
            return;
        }

        // 제품 이름이 빈 문자열인 경우 또는 공백으로만 이루어진 경우
        if (!productTitle.trim()) {
            alert('제품 이름을 입력해주세요.');
            return;
        }

        // 제품 설명이 빈 문자열인 경우 또는 공백으로만 이루어진 경우
        if (!productExplain.trim()) {
            alert('제품 설명을 입력해주세요.');
            return;
        }

        // 제품 가격이 빈 문자열이거나 숫자가 아닌 경우
        if (!productPrice.trim() || isNaN(Number(productPrice))) {
            alert('제품 가격을 입력해주세요.');
            return;
        }

        jQuery.ajax({
            url: "/manager/category",
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                productSeq: productSeq,
                categorySeq: categoryId,
                productTitle: productTitle,
                productExplain: productExplain,
                productPrice: productPrice,
                productStatus: statusId
            }),
            success: function(result) {
                // 변경 성공 시 처리할 코드 작성
                if (result > 0) {
                    alert("수정 성공");
                    location.reload();
                }else {
                    alert("수정 실패");
                    location.reload();
                }
            },
            error: function(xhr, status, error) {
                // 변경 실패 시 처리할 코드 작성
            }
        });
    });

    jQuery('#thumbUpload').submit(function(e) {
        e.preventDefault(); // 기본 동작 방지

        let formData = new FormData(jQuery(this)[0]);
        let fileInput = jQuery('input[type="file"]')[0];
        let params = new URLSearchParams(window.location.search);
        let productSeq = params.get('productSeq');
        let actionUrl = jQuery(this).attr('action') + '?productSeq=' + productSeq;

        if (fileInput.files.length === 0) {
            alert('선택된 파일이 없습니다.');
            return;
        }

        jQuery.ajax({
            url: actionUrl,
            type: jQuery(this).attr('method'),
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                alert(response);
                location.reload();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('Failed to upload file');
            }
        });
    });

    jQuery('#productUpload').submit(function(e) {
        e.preventDefault(); // 기본 동작 방지

        let formData = new FormData(jQuery(this)[0]);
        let fileInput = jQuery('input[type="file"]')[0];
        let params = new URLSearchParams(window.location.search);
        let productSeq = params.get('productSeq');
        let actionUrl = jQuery(this).attr('action') + '?productSeq=' + productSeq;

        if (fileInput.files.length === 0) {
            alert('선택된 파일이 없습니다.');
            return;
        }

        jQuery.ajax({
            url: actionUrl,
            type: jQuery(this).attr('method'),
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                alert(response);
                location.reload();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('Failed to upload file');
                location.reload();
            }
        });
    });
</script>

<!-- Right Panel -->
</body>
</html>
