<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head :: headFragment"></th:block>
</head>
<body>
<!-- Left Panel -->
<th:block th:replace="common/nav :: navFragment"></th:block>
<!-- /#left-panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <!-- /#header -->

    <!-- Breadcrumbs-->
    <th:block th:replace="common/breadcrubs :: breadFragment"></th:block>
    <!-- /.breadcrumbs-->

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 관리</strong>
                            <a href="#" style="float: right;" class="btn btn-secondary btn-sm change-image-button">이미지 변경</a>
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <div class="row tm-mb-90 tm-gallery">
                                <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                                    <figure class="effect-ming tm-video-item">
                                        <img th:src="@{${managerVo.thumbContents}}" alt="Image" class="img-fluid">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 관리</strong>
                            <a href="#" style="float: right;" class="btn btn-secondary btn-sm change-image-button">내용 변경</a>
                        </div>
                        <div class="card-body">
                            <div class="row tm-mb-90 tm-gallery">
                                <div class="col-xl-3 col-lg-12 col-md-6 col-sm-6 col-12">
                                    상품명 : <input th:value="${managerVo.productTitle}"><br>
                                    조회수 :<p th:text="${managerVo.productViews}"></p>
                                    생성일 : <p th:text="${managerVo.productRegDate}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 상세 관리</strong>
                        </div>
                        <div class="card-body">
                            <div class="row tm-mb-90">
                                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                                    <a href="#" style="width:100%;" class="btn btn-secondary btn-sm change-image-button">이미지 변경</a>
                                    <img th:src="@{${managerVo.productContents}}" alt="Image" class="img-fluid" style="width: 1920px; height: 650px;">
                                </div>
                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                                    <div class="tm-bg-gray tm-video-details">
                                        <p class="mb-4">
                                            Please support us by making <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a PayPal donation</a>. Nam ex nibh, efficitur eget libero ut, placerat aliquet justo. Cras nec varius leo.
                                        </p>
                                        <div class="text-center mb-5">
                                            <a href="#" style="padding: 12px 90px 14px;" class="btn btn-primary">Download</a>
                                        </div>
                                        <div class="mb-4 d-flex flex-wrap">
                                            <div class="mr-4 mb-2">
                                                <span class="tm-text-gray-dark">Dimension: </span><span class="tm-text-primary">1920x1080</span>
                                            </div>
                                            <div class="mr-4 mb-2">
                                                <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">JPG</span>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <h3 class="tm-text-gray-dark mb-3">License</h3>
                                            <p>Free for both personal and commercial use. No need to pay anything. No need to make any attribution.</p>
                                        </div>
                                        <div>
                                            <h3 class="tm-text-gray-dark mb-3">Category</h3>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Cloud</a>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Bluesky</a>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Nature</a>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Background</a>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Timelapse</a>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Night</a>
                                            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Real Estate</a>
                                        </div>
                                    </div>
                                    <br><br>
                                    <button style="position: absolute; bottom: 0; right: 128px;" onclick="window.history.back()" class="btn btn-danger">상품 삭제</button>
                                    <button style="position: absolute; bottom: 0; right: 0;" onclick="window.history.back()" class="btn btn-primary">목록으로 가기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:replace="common/footer :: footerFragment"></th:block>
    <!--/.site-footer -->

</div><!-- /#right-panel -->
<script>
    jQuery(document).ready(function() {
        // 페이징 처리 버튼 클릭 시 Ajax 요청
        jQuery('.page-link').click(function(e) {
            e.preventDefault();
            var pageNum = jQuery(this).data('page');
            jQuery.ajax({
                url: '/manager/product_manager',
                data: { pageNum: pageNum },
                success: function(result) {
                    jQuery('#productTable tbody').html(result);
                }
            });
        });
    });
</script>

<!-- Right Panel -->
</body>
</html>
