<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head :: headFragment"></th:block>
</head>
<body>
<!-- Left Panel -->
<th:block th:replace="common/nav :: navFragment"></th:block>
<!-- /#left-panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <!-- /#header -->

    <!-- Breadcrumbs-->
    <th:block th:replace="common/breadcrubs :: breadFragment"></th:block>
    <!-- /.breadcrumbs-->

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">카테고리 관리</strong>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Block level button</button>
                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Block level button</button>
                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Block level button</button>
                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Block level button</button>
                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Block level button</button>
                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Block level button</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">상품 관리</strong>
                        </div>


                        <div class="table-stats order-table ov-h">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th class="avatar">Img</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>RegDate</th>
                                    <th>Views</th>
                                    <th>Status</th>
                                    <!--<th>ID</th>-->
                                    <!--<th>Product</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product : ${productList}">
                                        <td th:text="${product.productSeq}"></td>
                                        <td class="avatar">
                                            <div class="round-img">
                                                <!--<a href="#"><img class="rounded-circle" th:src="${product.thumbContents}" alt=""></a>-->
                                                <a th:href="@{/manager/product_detail(productSeq=${product.productSeq})}"><img th:src="${product.thumbContents}" alt=""></a>
                                            </div>
                                        </td>
                                        <td th:text="${product.productTitle}"></td>
                                        <td>카테고리</td>
                                        <td th:text="${product.productRegDate}"></td>
                                        <td th:text="${product.productViews}"></td>
                                        <td>
                                            <span class="badge badge-complete">Complete</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- 페이징 처리 -->
                            <div class="pagination">
                                <ul>
                                    <li th:if="${pageInfo.pageNum > 1}">
                                        <a th:href="@{/manager/product_manager(pageNum=${pageInfo.pageNum - 1})}" th:text="'&laquo;'"></a>
                                    </li>
                                    <li th:each="page : ${#numbers.sequence(1, pageInfo.totalPages)}" th:class="${page == pageInfo.pageNum} ? active">
                                        <a th:href="@{/manager/product_manager(pageNum=${page})}" th:text="${page}"></a>
                                    </li>
                                    <li th:if="${pageInfo.pageNum < pageInfo.totalPages}">
                                        <a th:href="@{/manager/product_manager(pageNum=${pageInfo.pageNum + 1})}" th:text="'&raquo;'"></a>
                                    </li>
                                </ul>
                            </div>
                        </div> <!-- /.table-stats -->
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:replace="common/footer :: footerFragment"></th:block>
    <!--/.site-footer -->

</div><!-- /#right-panel -->
<script>
    jQuery(document).ready(function() {
        // 페이징 처리 버튼 클릭 시 Ajax 요청
        jQuery('.page-link').click(function(e) {
            e.preventDefault();
            var pageNum = jQuery(this).data('page');
            jQuery.ajax({
                url: '/manager/product_manager',
                data: { pageNum: pageNum },
                success: function(result) {
                    jQuery('#productTable tbody').html(result);
                }
            });
        });
    });
</script>

<!-- Right Panel -->
</body>
</html>
