<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head :: headFragment"></th:block>
</head>
<body class="bg-dark">

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-form" style="margin-top: 50%;">
                <div style="text-align: center;">
                    <a href="/">
                        <img class="align-content" src="/common/img/logo.png" alt="">
                    </a>
                </div>
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" id="adminId" class="form-control" placeholder="ID를 입력해주세요">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="adminPw" class="form-control" placeholder="PW를 입력해주세요">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                    <label class="pull-right">
                        <a href="#">아이디 / 비밀번호 찾기</a>
                    </label>
                </div>
                <input type="button" id="loginClick" class="btn btn-success btn-flat m-b-30 m-t-30" value="로그인"/>
            </div>
        </div>
    </div>
</div>

<script src="/common/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#loginClick").click(function() {
            var adminId = $("#adminId").val();
            var adminPw = $("#adminPw").val();

            if (adminId == "" || adminPw == "") {
                alert("아이디 또는 패스워드가 비어있습니다.");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/admin",
                data: JSON.stringify({
                    adminId: adminId,
                    adminPw: adminPw
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    if (data == 1) {
                        alert("Login Successful");
                        window.location.replace("/");
                    } else if (data == 0) {
                        alert("Login Failed");
                        window.location.reload();
                    } else {
                        alert("Unexpected Response");
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // handle the error
                    console.error("jqXHR:", jqXHR);
                    console.error("textStatus:", textStatus);
                    console.error("errorThrown:", errorThrown);
                }
            });
        });

        document.addEventListener("keydown", function(event) {
            if (event.keyCode === 13) {
                $("#loginClick").click();
            }
        });
    });
</script>
</body>
</html>
