<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopping.mallAdmin.main.mapper.MainMapper">
    <select id="adminLoginCheck" parameterType="com.shopping.mallAdmin.main.vo.MainVo" resultType="Integer">
        SELECT COUNT(*) FROM admin_user
        WHERE admin_id = #{adminId}
        AND admin_pw = #{adminPw}
        AND status = 1
    </select>

    <select id="selectAdminById" parameterType="String" resultType="com.shopping.mallAdmin.main.vo.MainVo">
        SELECT admin_pw FROM admin_user WHERE admin_id = #{userId}
    </select>

    <select id="adminSelectOne" parameterType="String" resultType="String">
        SELECT admin_pw FROM admin_user WHERE admin_id = #{adminId}
    </select>

    <select id="adminGetUserCount" resultType="integer">
        SELECT ifnull(max(user_seq),0) data FROM user
    </select>

    <delete id="adminUserDelete" parameterType="integer">
        DELETE FROM user WHERE user_seq=#{userSeq}
    </delete>

    <select id="getRevenue" parameterType="int" resultType="int">
        SELECT IFNULL(SUM(product_order.order_count * product_contents.product_price), 0) AS revenue
        FROM
        product_order
        INNER JOIN
        product_contents ON product_order.product_seq = product_contents.product_seq
        AND product_order.order_status = 1
    </select>

    <select id="getSales" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM product_contents
    </select>

    <select id="getProduct" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM product_contents
    </select>

    <select id="getUsers" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM user
    </select>
</mapper>