<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopping.mallAdmin.manager.mapper.ManagerMapper">
    <resultMap id="managerResultMap" type="com.shopping.mallAdmin.manager.vo.ManagerVo">
        <id property="productSeq" column="product_seq"/>
        <result property="productTitle" column="product_title"/>
        <result property="productRegDate" column="product_regDate"/>
        <result property="productViews" column="product_views"/>
        <result property="productStatus" column="product_status"/>
        <result property="productPrice" column="product_price"/>
        <result property="productCount" column="product_count"/>
        <result property="productContents" column="product_contents"/>
        <result property="productExplain" column="product_explain"/>
        <result property="thumbContents" column="thumb_contents"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.shopping.mallAdmin.manager.vo.ManagerVo">
        <id property="categorySeq" column="category_seq"/>
        <result property="productSeq" column="product_seq"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.shopping.mallAdmin.manager.vo.UserVo">
        <id property="userSeq" column="user_seq"/>
        <result property="userId" column="user_id"/>
        <result property="userPw" column="user_pw"/>
        <result property="userName" column="user_name"/>
        <result property="userProfile" column="user_profile"/>
        <result property="userBirth" column="user_birth"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userEmail" column="user_email"/>
        <result property="regDate" column="reg_date"/>
        <result property="loginDate" column="login_date"/>
        <result property="status" column="status"/>
        <result property="adYn" column="ad_yn"/>
    </resultMap>

    <resultMap id="orderResultMap" type="com.shopping.mallAdmin.manager.vo.OrderVo">
        <id property="orderSeq" column="order_seq"/>
        <result property="orderUserId" column="order_user_id"/>
        <result property="orderRegDate" column="order_regDate"/>
        <result property="orderUpdateDate" column="order_updateDate"/>
        <result property="orderStatus" column="order_status"/>
        <result property="orderCount" column="order_count"/>
        <result property="productSeq" column="product_seq"/>
        <result property="productTitle" column="product_title"/>
        <result property="productPrice" column="product_price"/>
        <result property="categorySeq" column="category_seq"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <select id="getProductList" resultMap="managerResultMap">
      SELECT * FROM product_contents
      LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getOrderList" resultMap="orderResultMap">
      SELECT * FROM product_order
      LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getOrderCount" resultMap="orderResultMap">
      SELECT * FROM product_order
      WHERE order_status = 1
      LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getUserList" resultMap="userResultMap">
      SELECT * FROM user
      LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getTotalCount" resultType="int">
      SELECT COUNT(*) FROM product_contents
    </select>

    <select id="getTotalUserCount" resultType="int">
      SELECT COUNT(*) FROM user
    </select>

    <select id="getOrderTotalCount" resultType="int">
      SELECT COUNT(*) FROM product_order
    </select>

    <select id="getProductDetail" parameterType="int" resultMap="managerResultMap">
      SELECT * FROM product_contents
      WHERE product_seq = #{productSeq}
    </select>

    <select id="getCategoryList" resultMap="categoryResultMap">
      SELECT * FROM category
    </select>

    <select id="getCategoryName" resultType="string">
      SELECT category_name FROM category
      WHERE category_seq = #{categorySeq}
    </select>

    <insert id="createProduct" parameterType="com.shopping.mallAdmin.manager.vo.ManagerVo">
      INSERT INTO product_contents (product_title, product_status, product_price, product_count, product_explain, category_seq, product_regDate)
      VALUES (#{productTitle}, #{productStatus}, #{productPrice}, #{productCount}, #{productExplain}, #{categorySeq}, NOW())
    </insert>

    <delete id="deleteProduct" parameterType="com.shopping.mallAdmin.manager.vo.ManagerVo">
      DELETE FROM product_contents WHERE product_seq = #{productSeq}
    </delete>

    <insert id="createCategory" parameterType="com.shopping.mallAdmin.manager.vo.ManagerVo">
      INSERT INTO category (category_name) VALUES (#{categoryName})
    </insert>

    <update id="updateCategory" parameterType="com.shopping.mallAdmin.manager.vo.ManagerVo">
      UPDATE product_contents SET category_seq=#{categorySeq}, product_title=#{productTitle}, product_price=#{productPrice}, product_count=#{productCount}, product_explain=#{productExplain}, product_status=#{productStatus} WHERE product_seq=#{productSeq}
    </update>

    <delete id="deleteCategory" parameterType="int">
      DELETE FROM category WHERE category_seq = #{categorySeq}
    </delete>

    <update id="updateThumbImg" parameterType="com.shopping.mallAdmin.manager.vo.ManagerVo">
      UPDATE product_contents SET thumb_contents = #{thumbContents}, product_regDate = NOW() WHERE product_seq=#{productSeq}
    </update>

    <update id="updateProductImg" parameterType="com.shopping.mallAdmin.manager.vo.ManagerVo">
      UPDATE product_contents SET product_contents = #{productContents}, product_regDate = NOW() WHERE product_seq=#{productSeq}
    </update>

    <update id="updateProductStatus" parameterType="com.shopping.mallAdmin.manager.vo.ManagerVo">
      UPDATE product_contents SET product_status = #{productStatus}, product_regDate = NOW() WHERE product_seq=#{productSeq}
    </update>

    <update id="updateUserStatus" parameterType="com.shopping.mallAdmin.manager.vo.UserVo">
      UPDATE user SET status = #{status}, reg_date = NOW() WHERE user_seq=#{userSeq}
    </update>

    <update id="updateOrderStatus" parameterType="com.shopping.mallAdmin.manager.vo.OrderVo">
      UPDATE product_order SET order_status = #{orderStatus}, order_updateDate = NOW() WHERE order_seq=#{orderSeq}
    </update>

    <select id="getSelectVo" parameterType="int" resultType="com.shopping.mallAdmin.manager.vo.OrderVo">
      SELECT category_seq, product_price, product_title FROM product_contents WHERE product_seq=#{productSeq}
    </select>

    <select id="selectOrderVo" parameterType="int" resultType="com.shopping.mallAdmin.manager.vo.OrderVo">
      SELECT * FROM product_order WHERE order_seq=#{orderSeq}
    </select>

    <update id="cancleOrder" parameterType="com.shopping.mallAdmin.manager.vo.OrderVo">
      UPDATE user SET total_price = total_price - #{productPrice} WHERE user_id = #{orderUserId}
    </update>

    <update id="updateProductCount" parameterType="com.shopping.mallAdmin.manager.vo.OrderVo">
      UPDATE product_contents SET product_count = product_count + #{orderCount} WHERE product_seq=#{productSeq}
    </update>
</mapper>
